{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'nap.css' %}">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Navbar Design</title>
  </head>
  <body>
    <header>
      <span class="image-clickable">
        
          <img src="logo.png" class="logo" />
    
      </span>
      <nav>
        <ul class="nav-links">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Log out</a></li>

        </ul>
    </header>
    
  </body>
</html>