aiohttp
aiosignal
amqp
ansicon
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
async-timeout
attrs
backcall
beautifulsoup4
billiard
bleach
blessed
celery
certifi
cffi
charset-normalizer
click-didyoumean
click-plugins
click-repl
colorama
cryptography
cycler
debugpy
decorator
defusedxml
Deprecated
Django
django-apscheduler
django-crispy-forms
django-extensions
django-picklefield
django-q
django-scheduler
django-widget-tweaks
entrypoints
fonttools
frozenlist
h11
icalendar
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jinxed
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
kombu
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
multidict
munkres
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
olefile
outcome
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
psycopg2
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
redis
requests
scikit-learn
scipy
seaborn
Send2Trash
sip
six
sklearn
sniffio
sortedcontainers
soupsieve
sqlparse
terminado
testpath
threadpoolctl
tornado
traitlets
trio
trio-websocket
typing-extensions
tzdata
tzlocal
urllib3
vine
wcwidth
webencodings
widgetsnbextension
wincertstore
wrapt
wsproto
yarl
zipp